.bg-hero-image {
    background-image: url('https://www.whitehouse.gov/wp-content/uploads/2021/01/07_andrew_jackson.jpg?w=1250');
    background-position: center center;
  }
  
  nav {
    box-shadow: 0 15px 10px 0 rgba(255, 255, 255, 0.2);
  }
  
  
  .nav-link active {
    font-family: 'Rock Salt', cursive;
  }



  body {
    background: linear-gradient(90deg, #8B4513, #D2691E, #A52A2A);
    background: url('https://wallpapers.com/images/hd/wood-texture-background-58jbszv2ejsai2o6.jpg') repeat;

}
.font {
  font-family: 'Ephesis', cursive;
  font-size: 45px;
  color: white;
  
  }
  
  .p-font {
    font-family: 'Seaweed Script', cursive;
  }
  
  .fontt {
    font-family: 'Great Vibes', cursive;
    color: #fff;
  }
  .fonttt{
    font-family: 'Ephesis', cursive;
    font-size: 45px;
    color: white;
  }
 
  .bg-hero-image {
    padding: 2rem; 
    height: 900px; 
    width: 100%; /
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  margin-bottom: 20px;
  text-align: center;
}

.text-and-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin-bottom: 10px;
}

.text-and-image img {
  max-width: 50%;
  height: auto;
}

.paper{
  height: 600px;
}

.subtext{
  font-family: 'Source Serif 4', serif;
  font-size: 30px;
  color: white;

}